<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>user</title>
</head>
<body>
  <div>
  <form method="post" action="/">
    <button>connect</button>
  </form>
  </div>
</body>
</html>
