<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>user</title>
</head>
<body>

  <form class="" action="/connect" method="post">
      <input type="hidden" name="members_id" value="req.session.user">
      <input type="hidden" name="friend_id" value=<%=user%>>
      <button type="submit">Link</button>
  </form>

</body>
</html>
